<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnchinese">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VocabReviewActivities.FoodActivity"
                  android:label="@string/activity_food">
        </activity>
        <activity android:name=".VocabReviewActivities.PlacesActivity"
                  android:label="@string/activity_places">
        </activity>
        <activity android:name=".VocabReviewActivities.NumbersActivity"
                  android:label="@string/activity_numbers">
        </activity>
        <activity android:name=".VocabReviewActivities.AnimalsActivity"
                  android:label="@string/activity_animals">
        </activity>
        <activity android:name=".VocabReviewActivities.PeopleActivity"
            android:label="@string/activity_people">
        </activity>
        <activity android:name=".VocabReviewMenu.VocabReviewMenu"
                  android:label="@string/activity_vocab_review">
        </activity>
        <activity android:name=".VocabReviewActivities.VocabActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.WordProvider"
            android:authorities="com.example.learnchinese.data"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>